h1 {
	text-orientation: horizontal;
	text-align: center;
	font-size: 200;
}

div{
	width: 100%;
}
li{
	display:inline-block;
}

#home{
	width: 100%;
}
.navbar{
	background-color: #333;
	position: fixed;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
