h1 {
	text-orientation: horizontal;
	text-align: center;
	font-size: 200;
}
img{
	height: 300px;
	width:  300px;
	border-radius: 50%;
	text-align: center;
}
nav{
	display: block;
	text-align: center;
	text-decoration-color: green;
}