h1 {
	text-orientation: horizontal;
	text-align: center;
	position: center;
	font-size: 300;
}
p {
	position: center;
	font-size: 200;
}
li{
	display:inline-block;
}
img{
	position: center;
}

#home{
	width: 100%;
}
#up_arrow{
	width: 50px;
	height: 50px;
	position: right;
	border-radius: 50%;
}
.navbar{
	background-color: #333;
	position: fixed;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
